{% extends 'base.html' %} 

{% block title %} All movies {% endblock %}

{% block body %}
    <ul>
    {% for movie in movies %}
        <li>
            <a href="/movies/{{ movie.movie_id }}">{{ movie.title }}</a>
       <!---
            <img src="{{ movie.poster_path }}"
            style="border-radius: 3px;
            border: 3px solid black;
            width: 1em;
            height: 2em;
            margin: 2em;
            padding: 1em;> -->
        </li>
    {% endfor %}
    </ul>
{% endblock %} 
